### Gradle ###
.gradle
# Ignore build/
build/*
!build/libs/
build/libs/*
!build/libs/*.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

### Android NDK and C++ builds ###
android-ndk-r26d/
**/src/main/cpp/build/

### Project Plans ###
# plans/ — now tracked in git


native-gl-engine/build/*
!native-gl-engine/build/libs/
native-gl-engine/build/libs/*
!native-gl-engine/build/libs/*.jar
